.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 75%;
      height: 75%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;

    &__value {
      margin: 0 10px;
    }
    .arrow {
      cursor: pointer;
    }
  }

  .remove-button {
    border: 1px solid rgba(161, 25, 25, 0.808);
    margin-left: 5px;
    padding: 0 5px;
    cursor: pointer;
    color: rgba(161, 25, 25, 0.808);

    &:hover {
      background-color: rgba(161, 25, 25, 0.808);
      color: white;
    }
  }
}
