.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
    width: 0;
    &:hover {
      opacity: 0.8;
    }
  }

  .preview {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
  }
}
